<h1><%= @recipe.name %></h1>
<p>Author: <%= @recipe.author %> | Category: <%= @recipe.category %></p>
<div><%= image_tag(@recipe.image, class:"img-thumbnail") %></div>
<h3>Ingredients</h3>
<div><%= @recipe.ingredients %></div>
<h3>Directions</h3>
<div><%= @recipe.directions %></div>
<h3>Reference</h3>
<div><%= link_to @recipe.reference, @recipe.reference %></div>
<%= link_to "Back", user_recipes_path(current_user) %>
